@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Propmt-Regular";
  src: url("/src/assets/font/Prompt-Regular.ttf");
}

@font-face {
  font-family: "Propmt-Semibold";
  src: url("/src/assets/font/Prompt-SemiBold.ttf");
}

@font-face {
  font-family: "Propmt-Bold";
  src: url("/src/assets/font/Prompt-Bold.ttf");
}

@font-face {
  font-family: "DancingScript";
  src: url("/src/assets/font/DancingScript-Bold.ttf");
}

* {
font-family: "Propmt-Regular";
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color:#F2F1EB
}